#yellowwindow {
    background-color: #212121;
    position: absolute;
    z-index: 5;
}

#yellowwindow:hover{
    background-color: #10132b;
}
#yellowwindow:active{
    background-color: #FBFF00;
    filter: drop-shadow(0px 0px 15px #c2b682);
}

.window2 {
    width: 69px;
    height: 55px;
    margin-left: 45px;
    background-color: #FBFF00;
    filter: drop-shadow(0px 0px 15px #c6bc8f);
    position: absolute;
    z-index: 5;
}
.window3 {
    margin: 0;
    width: 300px;
    height: 55px;
}
.window4 {
    
    width: 69px;
    height: 55px;
}

.window6 {
    margin-left: 80px;
    width: 69px;
    height: 55px;
}
.window7 {
    margin-top: 65px;
    margin-left: 160px;
    width: 69px;
    height: 55px;
}
.window8 {
    margin-left: 160px;
    width: 69px;
    height: 55px;
}

.door {
    background-color: #212121;
    position: absolute;
    z-index: 7;
    margin-top: 145px;
    margin-left: 80px;
    width: 70px;
    height: 100px;
}
.door:hover {
    background-color: #ffffff;
}
.door:active {
    margin-left: 150px;
}
.door1 {
    background-color: #3328a9;
    box-shadow: inset 0 0 10px #2c00a6;
    position: absolute;
    z-index: 5;
    margin-top: 145px;
    margin-left: 80px;
    width: 70px;
    height: 100px;
}

.window14 {
    margin-top: 50px;
    margin-left: 95px;
    width: 69px;
    height: 187px;
    background-color: #FBFF00;
    filter: drop-shadow(0px 0px 15px #c6bc8f);
    position: absolute;
    z-index: 5;
}

.window15 {
    background-color:#3328a9;
    box-shadow: inset 0 0 10px #2c00a6;
    position: absolute;
    margin-top: 55px;
    margin-left: 55px;
    width: 235px;
    height: 92px;
    z-index: 5;
}
.window15-1 {
    background-color: #212121;
    position: absolute;
    margin-top: 55px;
    margin-left: 55px;
    width: 235px;
    height: 92px;
    z-index: 6;
}
.window15-1:hover{
    background-color: #10132b;
}
.window15-1:active{
    opacity: 0;
}

.window16 {
    margin-top: 25px;
    margin-right: 25px;
    width: 69px;
    height: 55px;
}

